
  @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Header {
    display: flex;
    align-items: center;
    position: fixed;
    height: 5rem;
    top: 0;
    z-index: 10000;
    /* padding: 0 6rem; */
    transition: 0.3s ease-in-out;
    background-color: transparent;
    justify-content: center;
    width:100%;
    gap:37%;
    border-bottom:1px solid rgba(255, 255, 255, 0.658);
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    font-family: 'Barlow', sans-serif;
}

.Navbar__Title {
    margin: 0;
    padding: 0;
    width:150px;
    cursor: pointer;
}

.Navbar__Link1,
.Navbar__Link2,
.Navbar__Link3,
.Navbar__Link4 {
    text-decoration: none;
    transition-duration: 0.2s;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
}

.Navbar__Link1:hover,
.Navbar__Link2:hover,
.Navbar__Link3:hover,
.Navbar__Link4:hover {
    transform: scale(1.2);
    font-family: 'Barlow', sans-serif;
}

.Navbar__Link1,
.Navbar__Link2,
.Navbar__Link3 {
    margin-right: 3rem;
    font-family: 'Barlow', sans-serif;
}

.Header .Navbar__Button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    display: none;
    height: 1.3rem;
    width: 1.3rem;
    font-size: 1.3rem;
}

.Header div,
.Navbar__Brand {
    display: flex;
    align-items: center;
}

.Navbar__Items {
    display: flex;
    align-items: center;
    /* margin-left: auto; */
    height: 30px;
    text-align: center;
}

@media only screen and (max-width: 1024px) {

    .Header {
        padding: 0 2rem;
        font-family: 'Barlow', sans-serif;
    }

    .Navbar__Link1,
    .Navbar__Link2,
    .Navbar__Link3 {
        margin-right: 0;
    }

    .Navbar__Link1,
    .Navbar__Link2,
    .Navbar__Link3,
    .Navbar__Link4 {
        color: var(--textColor);
        font-family: 'Barlow', sans-serif;
    }

    .Header .Navbar__Button {
        display: block !important;
        margin-left: auto;
    }

    .Header .Navbar__Items {
        position: fixed;
        top: 0;
        right: 0;
        /* deducting border of 4px */
        height: calc(100% - 4px);
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--black);
        transition: 0.3s;
        transform: translateX(calc(100vh - 4px));
        border: 2px solid var(--textColorBlue);
        font-family: 'Barlow', sans-serif;
    }

    .Navbar__LinkText {
        font-size: smaller;
    }

    .Header .Navbar__Responsive {
        transform: none;
    }

    .Navbar__Items .Navbar__CloseButton {
        position: absolute;
        top: 2rem;
        right: 2rem;
        color: var(--textColorBlue);
    }

    .Navbar__Items a {
        font-size: 1rem;
        font-family: 'Barlow', sans-serif;
    }
}