.review-card{
    display: flex;
    flex-direction: column;
    gap:30px;
    color:#676977;
    background-color: white;
    font-family: 'Barlow',sans-serif;
    line-height: 1.75em;
    cursor: grab;
}
.review-card:active{
    cursor: grabbing;
}
.review-card-bottom{
    display: flex;
    align-items: center;
    gap:20px;
}
.avatar-right div,p{
    margin: 0;
}
.avatar img{
    width:70px !important;
}
.star{
    color:goldenrod;
}
/* .owl-theme .owl-dots .owl-dot span{
  background-color:black !important
} */


/* .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
   background-color: #2095AE;
} */
.owl-dots{
    margin-top: 30px !important;
}