/* .owl-theme{
    padding:20px 0px ;
    background-color: #2095AE ;
    padding-top: 70px;
} */
.destination{
    background-color: #2095AE ;
    padding:20px 50px ;
    padding-top: 70px;
   
}
.CardiB p{
    font-family: 'Barlow',sans-serif;
}
.CardiB h1{
    font-family: 'Poppins',sans-serif;
}